.header{
    height:50px;
	width:100%;
    background:lightblue;
    
}
.top2{
    padding: 10px 10px;
    text-align: center;
    border-bottom: 2px solid black;
}
.row{
    padding-top: 40px;
}
/* .down{
    padding-left: 20px;

} */